<section id="events" class="section">
  <div class="container">
    <h2 class="events-title">Explore Our Upcoming Workshop Schedule</h2>
    <p class="events-description">
      Join us for immersive plein air drawing workshops. Experience nature while
      honing your artistic skills.
    </p>

    <ul class="events-list">
      <li class="events-card">
        <!-- todo: todo: use picture with seperate image files -->
        <img
          class="events-card-image"
          src="/img/events/mobile-event/mobile-event-one@2x.jpg"
          alt="A girl in the park is painting on a canvas on an easel, holding a palette."
          width="311"
          height="225"
        />
        <div class="events-card-details">
          <div class="events-card-metadata">
            <div class="events-card-location">
              <div class="events-card-icon-wrapper">
                <svg width="16" height="20" class="events-card-icon">
                  <use href="../img/icons/icons.svg#icon-map"></use>
                </svg>
              </div>
              <a
                class="events-card-location-link"
                href="https://maps.app.goo.gl/bUxadCeWg8MBp8ua8"
                target="_blank"
                >Central Park Meadow</a
              >
            </div>
            <p class="events-card-time">09 Jun 8:00 am</p>
          </div>
          <h3 class="events-card-title">Morning Light Sketching</h3>
        </div>
        <a class="events-card-button" href="#register">Register</a>
      </li>
    </ul>
  </div>
</section>
