<header id="header" class="header">
  <div class="container">
    <div class="header-wrapper">
      <div class="header-logo-wrapper">
        <svg class="header-logo" width="70" height="48">
          <use href="/img/icons/icons.svg#icon-logo"></use>
        </svg>
      </div>
      <nav class="header-navigation">
        <div class="mobile-menu-links-wrapper">
          <ul class="mobile-menu-links-list">
            <li class="mobile-menu-links-list-item">
              <a class="mobile-menu-links-list-reference" href="#benefits"
                >Benefits</a
              >
            </li>
            <li class="mobile-menu-links-list-item">
              <a class="mobile-menu-links-list-reference" href="#gallery"
                >Gallery</a
              >
            </li>
            <li class="mobile-menu-links-list-item">
              <a class="mobile-menu-links-list-reference" href="#events"
                >Events</a
              >
            </li>
            <li class="mobile-menu-links-list-item">
              <a class="mobile-menu-links-list-reference" href="#team">Team</a>
            </li>
            <li class="mobile-menu-links-list-item">
              <a class="mobile-menu-links-list-reference" href="#feedbacks"
                >Feedbacks</a
              >
            </li>
          </ul>
        </div>
        <div class="header-actions-wrapper">
          <a class="header-register-reference" href="#registr">
            <button class="header-register-button" type="button">
              Register
            </button>
          </a>
          <button type="button" class="header-menu-button">
            <svg class="header-menu-icon" width="16" height="16">
              <use href="/img/icons/icons.svg#icon-menu"></use>
            </svg>
          </button>
        </div>
      </nav>
    </div>
  </div>
</header>
