<section id="hero" class="section-hero section">
  <div class="container hero-container">
    <div class="hero-wrraper-text">
      <h1 class="hero-title">Unleash Your Creativity in Nature's Embrace</h1>
      <p class="hero-text">
        Join us for an inspiring plein air drawing workshop where art meets
        nature. Experience the joy of sketching outdoors while enhancing your
        skills in light and composition.
      </p>
      <div class="hero-link-wraper">
        <a href="" class="hero-link-register">Register</a>
        <a href="/src/index.html" class="hero-link-more">Learn More</a>
      </div>
    </div>
    <img
      srcset="/img/hero-img/hero.jpg 1x, /img/hero-img/hero@2x.jpg 2x"
      src="/img/hero-img/hero.jpg"
      alt="Watercolor illustration of small houses"
      width="857"
      height="659"
    />
  </div>
</section>
