<section id="team" class="team-section">
  <div class="team-container">
    <h2 class="team-title">Our team</h2>

    <p class="team-description">
      Meet the passionate artists guiding your plein air journey.
    </p>

    <ul class="team-list">
      <li class="team-item">
        <img
          src="../img/team/Emma Caldwell.png"
          alt="Emma Caldwell"
          class="team-img"
        />
        <h3 class="team-name">Emma Caldwell</h3>
        <p class="team-position">Lead Art Instructor</p>
      </li>

      <li class="team-item">
        <img
          src="../img/team/Lina Morales.png"
          alt="Lina Morales"
          class="team-img"
        />
        <h3 class="team-name">Lina Morales</h3>
        <p class="team-position">Creative Workshop Coordinator</p>
      </li>

      <li class="team-item">
        <img
          src="../img/team/Owen Fischer.png"
          alt="Owen Fischer"
          class="team-img"
        />
        <h3 class="team-name">Owen Fischer</h3>
        <p class="team-position">Materials & Techniques Expert</p>
      </li>

      <li class="team-item">
        <img src="../img/team/Naomi Lee.png" alt="Naomi Lee" class="team-img" />
        <h3 class="team-name">Naomi Lee</h3>
        <p class="team-position">Mindfulness & Sketching Coach</p>
      </li>

      <li class="team-item">
        <img
          src="../img/team/Jack Turner.png"
          alt="Jack Turner"
          class="team-img"
        />
        <h3 class="team-name">Jack Turner</h3>
        <p class="team-position">Photographer & Visual Archivist</p>
      </li>

      <li class="team-item">
        <img src="../img/team/Ben Novak.png" alt="Ben Novak" class="team-img" />
        <h3 class="team-name">Ben Novak</h3>
        <p class="team-position">Outdoor Logistics Manager</p>
      </li>
    </ul>
  </div>
</section>
